{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container mt-5 text-center">
    <h1>Bienvenue sur notre Bibliotheque</h1>
    <p class="lead">Connecté avec succès !</p>
    <hr>
    <a href="{{ path('app_book_index') }}" class="btn btn-primary btn-lg">Voir le catalogue</a>
</div>
{% endblock %}