{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
<div class="container containerForm">
        <div class="form">
            <h1>Create new Category</h1>

            {{ include('category/_form.html.twig') }}

            <a href="{{ path('app_category_index') }}"  class="btn btn-primary">Revenir à la liste</a>
        </div>
    </div>
{% endblock %}
