{% extends 'base.html.twig' %}

{% block title %}New StockLivre{% endblock %}

{% block body %}
    <h1>Create new StockLivre</h1>

    {{ include('stock_livre/_form.html.twig') }}

    <a href="{{ path('app_stock_livre_index') }}">back to list</a>
{% endblock %}
