<form method="post" action="{{ path('app_emprunt_delete', {'id': emprunt.id}) }}" onsubmit="return confirm('Etes vous sû de vouloir supprimer cette Emprunt?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ emprunt.id) }}">
    <button class="btn">Supprimer</button>
</form>
