{% extends 'base.html.twig' %}

{% block title %}New Emprunt{% endblock %}

{% block body %}
    <div class="container containerForm">
        <div class="form">
            <h1>Nouvel emprunt</h1>

            {{ include('emprunt/_form.html.twig') }}

            <a href="{{ path('app_emprunt_index') }}">Revenir à la liste</a>
        </div>
    </div>
{% endblock %}
